127.0.0.1   localhost localhost.localdomain localhost4 localhost4.localdomain4 {{ ansible_hostname }} {{ ansible_nodename }}
::1         localhost localhost.localdomain localhost6 localhost6.localdomain6
172.18.17.20 ha1.zhubiaook.com
172.18.17.21 ha2.zhubiaook.com
172.18.17.22 varnish1.zhubiaook.com
172.18.17.23 varnish2.zhubiaook.com
172.18.17.24 nt1.zhubiaook.com
172.18.17.25 nt2.zhubiaook.com
172.18.17.26 redis1.zhubiaook.com
172.18.17.27 redis2.zhubiaook.com
